.about_page {
  width: 100%;
  margin: auto;
}
.about_page_banner {
  height: 600px;
  position: relative;
  background: url('http://localhost:5005/images/about/banner/banner.png') no-repeat;
  background-size: cover;
  background-position: center;
}
.about_page_banner .about_page_mask {
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.4);
}
.about_page_banner h1 {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.about_page_main {
  margin: 100px auto;
}
.about_page_main_title {
  color: #3f4247;
  border-bottom: 4px solid #047469;
  font-weight: 500;
}
.about_page_main .brand_bgc {
  height: 100%;
  background: url('http://localhost:5005/images/about/brand/brand.jpg') no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
}
.about_page_main .brand_text {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about_page_main .values_bgc {
  height: 100%;
  background: url('http://localhost:5005/images/about/brand_value/our_value.jpeg') no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
}
.about_page_main .values_text_lg {
  display: block;
}
.about_page_main .values_text_xs {
  display: none;
}
@media screen and (max-width: 1200px) {
  .about_page_main .values_text_lg {
    display: none;
  }
  .about_page_main .values_text_xs {
    display: block;
  }
  .about_page_main .brand_text {
    height: 400px;
    padding: 10px 0;
  }
}
@media screen and (max-width: 768px) {
  .about_page_main_title {
    font-size: 30px;
  }
  .about_page_main .brand_text {
    height: auto;
    padding: 10px 0;
  }
  .about_page_main .story_bgc {
    height: 300px;
  }
}
@media screen and (max-width: 500px) {
  .about_page_banner {
    height: 300px;
  }
}
