.location {
  width: 1200px;
  margin: 100px auto;
}
.location .book_main .book_box {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: #F7F7F7;
  border: 1px solid #E2E2E2;
  border-radius: 8px;
  padding: 20px 0;
  position: sticky;
  top: 85px;
}
.location .book_main .book_box .book_button {
  width: 90%;
  text-align: center;
  padding: 10px 0;
  background-color: #335D65;
  color: #fff;
  border-radius: 20px;
  margin-top: 15px;
}
.location .book_main_lg {
  display: none;
  margin-top: 30px;
}
.location .book_main_lg .book_box {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: #F7F7F7;
  border: 1px solid #E2E2E2;
  border-radius: 8px;
  padding: 20px 0;
  position: sticky;
  top: 85px;
  position: unset;
}
.location .book_main_lg .book_box .book_button {
  width: 90%;
  text-align: center;
  padding: 10px 0;
  background-color: #335D65;
  color: #fff;
  border-radius: 20px;
  margin-top: 15px;
}
.location_lake h1 {
  display: flex;
}
.location_lake_imgs {
  display: flex;
}
.location_lake_imgs_item {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 300px;
  overflow: hidden;
}
.location_lake_imgs_item :global(.lazyload-wrapper) {
  height: 100%;
  margin-right: 2px;
  margin-top: 2px;
}
.location_lake_imgs_item :global(.lazyload-wrapper):last-child img {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.location_lake_imgs_item:first-child img {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.location_lake_imgs_item img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.location_lake h5 {
  font-style: italic;
  color: #444444;
}
.location_map {
  margin-top: 30px !important;
  height: 350px;
}
.location_map h2 {
  margin-bottom: 15px;
}
.location_park {
  margin-top: 80px !important;
}
.location_tents {
  display: flex;
  margin-top: 15px;
}
.location :global(.lazyload-wrapper) {
  position: relative;
}
@media screen and (max-width: 1200px) {
  .location_main {
    flex-direction: column !important;
    align-items: center;
  }
  .location .book_main {
    display: none;
  }
  .location .book_main_lg {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .location_lake_imgs_item {
    height: 250px;
  }
  .location_tents {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .location .location_main_lake_title {
    font-size: 30px;
  }
  .location_lake_imgs {
    flex-wrap: wrap;
  }
  .location_lake_imgs_item {
    width: 49%;
    flex-direction: row;
    height: 180px;
  }
  .location_lake_imgs_item:first-child img {
    border-bottom-left-radius: 0;
  }
  .location_lake_imgs_item:nth-child(2) img {
    border-top-right-radius: 8px;
  }
  .location_lake_imgs_item:nth-child(3) img {
    border-bottom-left-radius: 8px;
  }
  .location_lake_imgs_item:last-child img {
    border-top-right-radius: 0;
  }
  .location_map {
    height: 300px;
  }
}
