.order_page {
  width: 100%;
  background-color: #f9f9f9;
}
.order_page .step_main {
  display: flex;
}
.order_page .mobile_step {
  display: none;
}
.order_page .pc_stepper {
  width: 70%;
  margin: auto;
}
@media screen and (max-width: 600px) {
  .step_box {
    width: 400px;
  }
  .mobile_step {
    display: flex !important;
  }
  .step_button_prev,
  .pc_stepper,
  .step_button_next {
    display: none;
  }
}
@media screen and (max-width: 455px) {
  .order_page .step_main {
    justify-content: center;
  }
  .order_page .pc_stepper {
    width: auto;
  }
  .order_page .step_box {
    width: 300px;
  }
}
