.home {
  width: 100%;
}
.home_container {
  width: 1100px;
  margin: auto;
}
@media screen and (max-width: 1200px) {
  .home_container {
    width: 800px;
  }
}
@media screen and (max-width: 900px) {
  .home_container {
    width: 700px;
  }
}
@media screen and (max-width: 768px) {
  .home_container {
    width: 500px;
  }
}
@media screen and (max-width: 600px) {
  .home_container {
    width: 300px;
  }
}
