.home {
    width: 100%;

    &_container {
        width: 1200px;
        margin: auto;
    }
}

@media screen and (max-width: 1536px) {
    .home {
        &_container {
            width: 80%;
            // width: 1200px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .home {
        &_container {
            // width: 800px;
        }
    }
}

@media screen and (max-width: 900px) {
    .home {
        &_container {
            // width: 700px;
        }
    }
}

@media screen and (max-width: 768px) {
    .home {
        &_container {
            // width: 500px;
        }
    }
}

@media screen and (max-width: 600px) {
    .home {
        &_container {
            // width: 300px;
        }
    }
}