.header {
  height: 80px;
  border-bottom: 1px solid #e4e4e4;
}
.header nav ul {
  display: flex;
  justify-content: space-around;
}
.header nav ul a {
  color: #000;
}
.header nav ul .activeLink {
  color: #335D65;
}
.header nav ul .register {
  color: #fff;
  background-color: #335D65;
  padding: 8px 24px;
  border-radius: 30px;
}
