.footer {
  width: 100%;
  color: #fff;
  background-color: #173749;
}
.footer_background {
  width: 100%;
  height: 650px;
  background: url('http://175.178.99.5:5005/images/footer/footer_background.svg') no-repeat;
  background-size: cover;
  background-position: center center;
}
.footer_main_brand_info {
  font-size: 15px;
  font-weight: 300;
  margin-top: 10px;
}
.footer_main .footer_list ul li {
  margin-top: 15px;
}
.footer_main .footer_list ul li:first-child {
  margin: 0;
}
.footer_main .footer_list ul li a {
  color: #fff;
  transition: color 0.3s;
}
.footer_main .footer_list ul li a:hover {
  color: #EF9000;
}
@media screen and (max-width: 1536px) {
  .footer_background {
    height: 500px;
  }
}
@media screen and (max-width: 1200px) {
  .footer_main_brand {
    text-align: center;
    margin-bottom: 30px !important;
  }
}
@media screen and (max-width: 900px) {
  .footer_background {
    height: 320px;
  }
}
@media screen and (max-width: 600px) {
  .footer_main_signup {
    margin-top: 30px!important;
  }
}
